div#root {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

main {
  overflow-y: auto;
}

@media (min-device-width: 600px) {
  main {
    margin: 0px 16px 0px 16px;
  }
}

@media (max-device-width: 599px) {
  main {
    margin: 0px 8px 0px 8px;
  }
}

article > div {
  margin-top: 8px;
}

article > div:last-child {
  margin-bottom: 4px;
}

div.card-inactive {
  background-color: #cfd8dc;
}

div.card-marketplace {
  background-color: #c5cAe9;
}

div.card-zero {
  background-color: #cfd8dc;
}

div.card-plus {
  background-color: #c8e6c9;
}

div.card-minus {
  background-color: #ffcdd2;
}

div.small-card-actions {
  padding-top: 0px;
  margin-top: -8px;
  float: right;
}
